// Typography

// Fonts
$font-sans = 'DroidSerif',Georgia,Helvetica,sans-serif
$font-sans-light = 'DroidSerif-Italic',Georgia,Helvetica,sans-serif
$font-sans-bold = "DroidSerif-Bold", Georgia, sans-serif
$font-serif = Georgia,serif
$primary-font-family = $font-sans
$secondary-font-family = $font-serif
$monospaced-font-family = Monaco, Lucida Console, monspace


